

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script>
        ///*******************Json************************
      /*  $(function () {
            $("#btn").click(function () {
                var d = "Amal Assem";
                //$.ajax({
                //    url: "/Test/Display",
                //    data: {name:d},
                //    success: function (x) {
                //        $("#div1").text(x);
                //    }
                //});

                //Ajax Helper
                $.get("/Test/Display", { name: d }, function (x) {
                        $("#div1").text(x);
                    })
            });
        });*/
    </script>

    <title>index</title>
</head>
<body>
    <div>

        @* Ajax
                <input type="button" value="Get Data" id="btn" />
            <div id="div1">

            </div>*@


        @*******************Search****************@
        @using (Ajax.BeginForm("Search", "Test",new AjaxOptions {UpdateTargetId="div1"}))
        {
            <input type="submit" value="Search" />
        }
        <div id="div1">

        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

</body>
</html>


