@model List<Hotel.Models.Room>

@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <a class="btn btn-danger" href="/Room/Create">Add New Room</a>
</div>
<br />
<div class="bg-danger">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Room Type</th>
                <th scope="col">reserved </th>
                <th scope="col">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td>@item.Room_Type1.room_type1</td>
                    <td>@item.reserved</td>
                    <td>@item.price</td>
                    <td>
                        <a href="~/Room/Edit/@item.id" class="btn btn-info">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
